# Cloudflare R2 Storage Configuration
R2_ACCOUNT_ID=your_account_id_here
R2_ACCESS_KEY_ID=your_access_key_id_here
R2_SECRET_ACCESS_KEY=your_secret_access_key_here
R2_BUCKET_NAME=your_bucket_name_here
R2_ENDPOINT_URL=https://your_account_id_here.r2.cloudflarestorage.com

# Django Settings
SECRET_KEY=django-insecure-=ml)-2up77okb726(@7r&s_3rzx0pn0(o3+gob1pzo_3wr6v3p
DEBUG=True
